@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<title>DarumaDelivery</title>
<style>
    h1.left {
        line-height: 100px;
        height: 200px;
        border: 3px solid ;
        text-align: start
    }

    h1.double {
        border-style: double;
        border-width: thick
    }

    h1 {
        background-color: firebrick;
        color: ghostwhite;
        font-family: Algerian;
    }

    h1 {
        text-align: start
    }

    body {
        background-color: black
    }
</style>

<div class="container container-fluid">
    <h1 class="double">DarumaDelivery</h1>
    <div id="demo" class="carousel slide" data-bs-ride="carousel">


        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>

        <div class="carousel-inner">

            <div class="carousel-item active">
                <img src="~/lib/img/Daruma-Ramen_2000x740-2000x740.jpg" alt="r0" class="rounded-3" style="width:1250px; height:370px;" ;position:center">
            </div>
            <div class="carousel-item">
                <img src="~/lib/img/img_banner_kodawari.jpg" alt="r1" class="rounded-3" style="width:1250px; height:370px;position:center">
            </div>
            <div class="carousel-item">
                <img src="~/lib/img/logo_group_04.jpg" alt="r2" class="rounded-3" style="width:1250px; height:370px;position:center">
            </div>
        </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>

</div>
<div>
    <h1>OUR HOUSEMADE RAMEN </h1>
    <h3>How our journey started</h3>
    <p>Ramen is one of the most popular Japanese food, It is almost as popular as the iconic Sushi. We started of with this catch phrase Authentic Ramen in New Zealand. Since we weren’t satisfied with the Ramen we made without using the ingredients that we were pleased with, that’s when we decided to make our own factory for the ingredients we’re actually happy with. We are proud of what we created ,we hope that you get a chance to try it.</p>
    <p>
        A Revolutionary Taste
        Through repeated research and the careful choosing of ingredients, we have recreated the authentic Japanese taste of delicious ramen. In order to create a product as close as possible to the original, we have manufactured the four key ingredients right here in New Zealand. Please enjoy the genuine taste of Japanese ramen, sure to cause waves here in New Zealand.
    </p>
    <h4>4 keys to make the Ramen we’re looking for</h4>
    <p>
        1. Revolutionized Noodles
        In the pursuit of authentic Japanese noodles, we built our own specialised kitchen, selected the finest flour, secured the best noodle-manufacturing machinery Japan has to offer, and now proudly offer “Top Quality” noodles.
    </p>
   <p>
        2. Traditional Soup
        To make our soup even better we did our research with our team back in Japan. We believe to that the soup we created can amaze not only Japanese but also the whole world. This is the ultimate soup which is pressure cooked over long periods of time in two-tonne pots, while still keeping with the old ways of preparation. Taste and consider the depth of its smooth yet thick, savoury richness.
   </p>
    <p>
        3. Classic Chashu Pork
        We carefully cook both sides of each slice of pork to retain its rich essence, then combine it with our secret sauce in a slow roast. Each bite you take renews the savoury depth of this timeless classic.
    </p>
    <p>
        4. The Sought After Stock
        This is the stock base that brings our Traditional Soup, Revolutionized Noodles, and Classic Chashu Pork to life. The journey to discover “The Perfect Stock” began in Japan. Only the best ingredients have been selected to undergo development—in collaboration with our partners in Japan – to become a masterpiece, The Perfect Stock that encompasses all flavours.
    </p>

    
    
</div>
