@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Signature Tonkotsu Chashu</h1>
<img src="~/lib/" />

    <div>
        <form>
            <input type="radio" id="pork" name="protein_type" value="Pork">
            <label for="pork">Pork Chashu</label><br>
        <input type="radio" id="chicken" name="protein_type" value="Chicken">
            <label for="chicken">Chicken Chashu</label><br>
        <input type="radio" id="tofu" name="protein_type" value="Tofu">
            <label for="tofu">Tofu</label>
        <input type="radio" id="none" name="protein_type" value="None">
        <label for="none">None</label>
        </form>
        <h2>Protein</h2>
        <input type="radio">Pork Chashu</>
        <input type="radio">Chicken Chashu</>
        <input type="radio">Tofu</>
        <input type="radio">None</>
    </div>
    <div>
        <h2>Extra Protein</h2>
        <input type="checkbox">+40g Pork Chashu[+$5.00]</>
        <input type="checkbox">+40g Chicken Chashu[+$5.00]</>
        <input type="checkbox">+9pc Tofu</>
    </div>
    <div >
        <h2>Spice Level</h2>
        <input type="radio">Non-Spicy</>
        <input type="radio">Mild</>
        <input type="radio">Medium</>
        <input type="radio">Hot</>
        <input type="radio">Extra Hot!</>
        <input type="radio">Extra Extra Hot!!!</>
    </div>
    <div>
        <h2>Spice Type</h2>
        <input type="radio">Spicy Mix</>
        <input type="radio">Spicy Oil</>
    </div>
    <div>
        <h2>Remove?</h2>
        <input type="checkbox">Kikurage(Fungus)</>
        <input type="checkbox">Roquette(Greens)</>
        <input type="checkbox">Sesame seeds</>
    </div>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
z