@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<title>DarumaDelivery</title>
<style>
    h1.left {
        line-height: 100px;
        height: 200px;
        border: 3px solid purple;
        text-align: start
    }

    h1.double {
        border-style: double;
        border-width: thick
    }

    h1 {
        background-color: firebrick;
        color: ghostwhite
    }

    h1 {
        text-align: start
    }

    body {
        background-color: #D22B2B
    }
</style>

<div class="container container-fluid">
    <h1 class="double">DarumaDeliver</h1>
    <img src="https://images.arigatotravel.com/wp-content/uploads/2017/09/06080254/ramen-banner.jpg" class="rounded-3" style="width:1255px; height:500px;" />
</div>
<div class=" container mt-3">
    <button type="button" class="btn btn-danger btn-lg" onclick="document.location = 'https://localhost:7094/'">Home</button>
    <button type="button" class="btn btn-danger btn-lg" onclick="document.location = 'https://localhost:7094/Home/Shop'">Shop</button>
    <button type="button" class="btn btn-danger btn-lg" onclick="document.location = 'https://localhost:7094/Home/Privacy'">Privacy</button>
    <button type="button" class="btn btn-danger btn-lg" onclick="document.location = 'https://localhost:7094/Home/Contacts'">Contacts</button>
    <button type="button" class="btn btn-danger btn-lg" onclick="document.location = 'https://localhost:7094/Home/About'">About us</button>
</div>
<div class="row">
    <div>
        <img src="https://images.arigatotravel.com/wp-content/uploads/2017/09/06080254/ramen-banner.jpg" />
        <h4>Ramen 1</h4>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half"></i>
        </div>
        <p>$30.00</p>
    </div>
    <div>
        <img src="https://images.arigatotravel.com/wp-content/uploads/2017/09/06080254/ramen-banner.jpg" />
        <h4>Ramen 2</h4>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
        <p>$30.00</p>
    </div>
    <div>
        <img src="https://images.arigatotravel.com/wp-content/uploads/2017/09/06080254/ramen-banner.jpg" />
        <h4>Ramen 3</h4>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
        <p>$45.00</p>
    </div>
    </div>