@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Soy Chicken</h1>
<img src="~/lib/" />
<div>
    <h3>Protein</h3>
    <input type="radio">Pork Chashu</>
    <input type="radio">Chicken Chashu</>
    <input type="radio">Tofu</>
    <input type="radio">None</>
</div>
<div>
    <h2>Extra Protein</h2>
  <p>  <input type="checkbox">+40g Pork Chashu[+$5.00]</></p>
  <p>  <input type="checkbox">+40g Chicken Chashu[+$5.00]</></p>
    <p> <input type="checkbox">+9pc Tofu</></p>
</div>

<div>
    <h3>Remove?</h3>
    <p> <input type="checkbox">Kikurage(Fungus)</></p>
    <input type="checkbox">Roquette(Greens)</>
    <input type="checkbox">Sesame seeds</>
</div>
<h2>Extra spice</h2>
<div>
    <h2>Spice Type</h2>
    <input type="radio">Spicy Mix</>
    <input type="radio">Spicy Oil</>
</div>
<div>
    <h2>Spice Level</h2>
    <input type="radio">Non-Spicy</>
    <input type="radio">Mild</>
    <input type="radio">Medium</>
    <input type="radio">Hot</>
    <input type="radio">Extra Hot!</>
    <input type="radio">Extra Extra Hot!!!</>
</div>