html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 20px;
    background-color: #D22B2B
}

h1.left {
    line-height: 100px;
    height: 200px;
    border: 3px solid purple;
    text-align: start
}

h1.double {
    border-style: double;
    border-width: thick
}

h1 {
    background-color: firebrick;
    color: ghostwhite
}

h1 {
    text-align: start
}

body {
    background-color: #D22B2B
}